@import url('./views/catalogo-view.css');
@import url('./views/admagg-view.css');
@import url('./views/admdel-view.css');
@import url('./views/ventana-view.css');
@import url('./views/carrito-view.css');
@import url('./views/promos-view.css');
@import url('./views/z1-view.css');
@import url('./views/z2-view.css');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);


}

html {
    background-image: url("/images/back2.png");
    background-repeat: no-repeat;
    background-position: 0 300px;
    background-size: 400%;
}


.Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ProductosVentas {
    box-sizing: border-box;
    width: calc(50% - 20px);
    margin: 10px;
    border: 2px solid #ff20bf;
    padding: 10px;
    text-align: center;
}

.logo {
    align-self: center;

}

.busqueda {
    align-self: center;

}

.hola {
    align-self: center;
    color: #ff20bf;
    font-family: 'Monsieur La Doulaise', cursive;
    padding: 10px;
}

.hola2 {
    align-self: center;
    color: #ff20bf;
}

.hola3 {
    align-self: center;
    text-align: center;
    padding: 10px;
}


.descripcionTitulo {
    text-align: start;
    justify-content: center;
    padding: 20px;
}

.descrip {
    text-align: justify-all;
    justify-content: center;
    padding: 1px 30px;
    display: flex;
}

.imagenesDelProducto {
    text-align: start;
    justify-content: center;
    padding: 20px;
}

.imagenesProducto {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.caracteristicasTitulo {
    text-align: start;
    justify-content: center;
    padding: 20px;
}

.caracteristicas {
    text-align: start;
    justify-content: center;
    padding: 1px 20px;
}

.caracteristicas span{

    display: block;
    margin-bottom: 8px;

}


