@import url('./views/catalogo-view.css');
@import url('./views/admagg-view.css');
@import url('./views/admdel-view.css');
@import url('./views/ventana-view.css');
@import url('./views/carrito-view.css');
@import url('./views/promos-view.css');
@import url('./views/z1-view.css');
@import url('./views/z2-view.css');    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);

    }


.Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ProductosVentas {
    box-sizing: border-box;
    width: calc(50% - 20px);
    margin: 10px;
    border: 2px solid #ff20bf;
    padding: 10px;
    text-align: center;
}

.logo {
    align-self: center;

}

.busqueda {
    align-self: center;

}





